.form {
  padding: calc(var(--mantine-spacing-sm) * 1.5);
  margin: var(--mantine-spacing-md) 0;
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-md);
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @media (min-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}
